:root {
    --orange-like-carrot: #E53F03;
    --sweet-like-vanilla: #D4C79E;
    --dark-is-coffee: #4E352B;
    --raisen-black: #231F20;
  }

nav {
    background-color: var(--orange-like-carrot);
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;

}

nav a.active {
    border: 1px solid whitesmoke;
    background: none;
    font-style: italic;
}
.nav-items {
    
    margin: 0.5rem 2rem 0 2rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
    text-decoration: none;
    color: var(--raisen-black);
    background-color: whitesmoke;
}

#login-button {
    
    font-size: 1.5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

/*CAROUSEL COMPONENT*/
.carousel {
    background-color: aqua;
    overflow: hidden;
    width: 80%;
    margin-right: 3rem;
}
.carousel-items {
    height: 27rem;
    min-width: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: yellow;
    
}
.internal-organ {
    white-space: nowrap;
    transition: transform 0.3s;
}
.indicator {
    display: flex;
    justify-content: center;
}
.indicator > button {
    margin: 0.5rem
}

/*RECIPE TABS COMPONENTS*/
.recipe-tab {
    width: 55rem;
    height: 32rem;
    background-color: var(--sweet-like-vanilla);
    margin-right: 3rem;
}

/*SEARCH BAR COMPONENTS*/
.search-box {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-box:hover > input{
    width: 400px;
}

.search-box input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-box button .fas{
    color: #5cbdbb;
}

@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(5deg, 5deg);}
  75% {transform: skew(-5deg, -5deg);}
  100% {transform: skew(0deg,0deg);}
}

.search-box:hover{
  animation: hoverShake 0.15s linear 3;
}

/*SUMMARY CARD COMPONENTS*/
#category-img {
    width: 11rem;
    height: 8rem;
    border-radius: 0.3rem;
}
.category-items {
    color: var(--raisen-black);
    font-weight: bold;
    width: 11rem;
    height: 11rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
}
.category-items ~ button {
    padding: 0.3rem;
    font-size: 0.8rem;
    margin-left: 1rem;
    background-color: var(--dark-is-coffee);
    color: whitesmoke;
}

/*ITEM CARD COMPONENTS*/
.item-card {
    margin: 2rem 5rem 2rem 4rem;
}
.item-card > h1 {
    margin-bottom: 2rem;
}
.group-1 {
    display: flex;
    flex-direction: row;
}