* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

:root {
    --orange-like-carrot: #EB672F;
    --sweet-like-vanilla: #D4C79E;
    --dark-is-coffee: #4E352B;
    --raisen-black: #231F20;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
#content {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#category-button {
    margin: 2rem 5rem 0 0 ;
}

#mainNav {
    width: 5%;
    height: 100vh;
    background-color:  var(--orange-like-carrot);
    border-right: 3px solid var(--sweet-like-vanilla);
    border-right-style: outset;
    color: var(--sweet-like-vanilla);
}

#nav-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-is-coffee);
    margin: 1.5rem 0 0 2rem;
}
#navItems {
    color: whitesmoke;
    text-decoration: none;
}

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
    
}


#carousel {
    width: 50rem;
    height: 30rem;
    background-color: whitesmoke;
    display: flex;
    align-self: flex-end;
    margin: 3rem 5rem 0 0;
    border-radius: 1rem;
    border: 1rem solid whitesmoke;
}

#carousel-items {
    height: 29rem;
    width: 45rem;
}
.carousel-img {
    border-radius: 1rem;
}
.label {
    color: var(--dark-is-coffee);
}

#caption {
    background-color: #EB672F;
    height: 10rem;
}

