* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

:root {
  --orange-like-carrot: #EB672F;
  --sweet-like-vanilla: #D4C79E;
  --dark-is-coffee: #4E352B;
  --raisen-black: #231F20;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: row;
}